*{
    margin: 0px;
}
.upper-main{
    height: 790px;
    width: 100%;
    background-image: url(https://assets.website-files.com/62e39df3c002142d2c83c429/62e3a0be7fed1948b8019c12_Hero-img-min-p-1600.jpg);
    float: left;
    margin-top: -40px;
}
.main{
    height: 80px;
    width: 100%;
    float: left;
    margin-top: 40px ;
     background-image: linear-gradient(rgba(255, 254, 254, 0.281), rgba(255, 255, 255, 0));
  

}
.main1{
    height: 100%;
    width: 20%;
    float: left;
   
}
.main1 img{
    margin-left: 58%;
    margin-top: 25px;
}
.main2{
    height: 100%;
    width: 60%;
    float: left;
    text-align: center;
}
.main2 ul li{
    display: inline-block;
    padding: 18px;
    margin-top: 12px;
}
.main3{
    height: 100%;
    width: 20%;
    float: left;
}
.main3 i{
    margin-top: 25px;
    margin-left: 10px;
    font-size: 18px;
}
.main4 i{
    font-size: 18px;
    margin-top: 25px;
    display: none;

}
.onimg{
    height: 500px;
    width: 100%;
    float: left;
    margin-top: 50px;
    text-align: center;
}
.onimg h1{
    font-size: 60px;
    margin-top: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.onimg h2{
    font-size: 80px;
    margin-top: 2px;
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
    color: rgb(59, 59, 59);
}
.onimg p{
    font-size: 20px;
    margin-top: 30px;
}
.onimg button{
    height: 40px;
    width: 150px;
    background-color: rgb(27, 26, 26);
    font-size: 18px;
    color:white;
    margin-top: 30px;
    border: none;
    border-radius: 5%;
    

}
.onimg button:hover{
    background-color: rgb(49, 48, 48)
}
@media(max-width:667px){
    .upper-main{
        height: 790px;
        background-size: 100% 100%;
    }
    .main2{
        display: none;
    }
    .main3{
        display: none;
    }
    .main4 i{
        display: inline-block;
        margin-left: 400px;


    }
    .onimg h1{
        font-weight: lighter;
    }
    .onimg h2{
        font-weight: lighter;
        font-size: 60px;
    }
    .onimg p{
        font-size: 20px;
        font-weight: lighter;
    }
}
.candle {
    height: 1300px;
    width: 100%;
    float:left ;
}
.canmain1{
    height: 100%;
    width: 100%;
    float: left;
}
.sub1{
    height: 90%;
    width: 30%;
    float: left;
    margin-top: 70px;

}
.sub1 img{
    height: 500px;
    width: 350px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 250px;
}
.sub2{
    height:auto;
    width: 40%;
    float: left;
    text-align: center;
    position: sticky;
    top: 0px;
}
.sub2 h6{
    font-size: 50px;
    font-weight: lighter;
    margin-top: 200px;

}
.sub2 p{
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    font-weight: lighter;
    color: rgba(59, 59, 59, 0.795);


}
.sub2 h1{
    font-weight: lighter;
    font-size: 20px;

}
.sub3{
    height: 90%;
    width: 30%;
    float: left;
    margin-top: 70px;

}
.sub3 img{
    height: 500px;
    width: 350px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 50px;
}
.sub4{
    height: 0px;
    width: 30%;
    float: left;
    margin-top: -200px;

}
.sub4 img{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 0px;
}
.sub5{
    height: 500px;
    width: 30%;
    float: left;
    margin-left: 900px;
    margin-top: -400px;

}
.sub5 img{
    height: 340px;
    width: 350px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 0px;
}
@media (max-width:667px){
   .candle{
    width: 100%;
   }
   .sub1 img{
    height: 200px;
    width: 150px;
    margin-left: 10px;

   }
   
   .sub3 img{
    height: 200px;
    width: 150px;
    margin-left: 10px;
   }
   .sub4 img{
    height: 200px;
    width: 150px;
    margin-left: 100px;
   }
   .sub5 img{
    height: 200px;
    width: 150px;
    margin-left: -500px;

   }
}
.commitment{
    height: 400px;
    width: 100%;
    float: left;
    margin-top: 300px;

}
.com1{
    height: 150px;
    width: 100%;
    float: left;
    text-align: center;
    
}
.com1 h1{
    font-size: 60px;
    font-weight: lighter;
}
.com1 p{
    font-size: 60px;
    font-weight:lighter;
    font-family: 'Brush Script MT', cursive;
    color: rgba(80, 80, 80, 0.925);
}
.com2{
    height: 450px;
    width: 100%;
    float: left;
    text-align: center;
}
.com22{
 display: inline-block ;
 margin-left: 70px;
 margin-right: 70px;


}
.com22 img{
    height: 60px;
    width: 60px;
    margin-top: 40px;
}
.com22 h1{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 25px;
}
.com22 p{
    margin-top: 10px;
    font-size: 18px;
    color: rgb(59, 59, 59);

}
@media(max-width:667px){
    .commitment{
    height: 600px;
    margin-bottom: 200px;
    }
}
.story{
    height: 1500px;
    width: 100%;
    float:left;
}
.story1{
    height: 200px;
    width: 100%;
    float: left;
    text-align: center;
}
.story1 h1{
font-weight: lighter;
font-size: 50px;
margin-top: 40px;

}
.story1 p{
    font-weight: lighter;
    font-size: 55px;
    font-family: 'Brush Script MT', cursive;
    color: rgb(59, 59, 59);

    }

.story2{
    height: 350px;
    width: 100%;
    float: left;
    margin-top: 50px;
}
.story21{
    float: left;
    height: 100%;
    width: 50%;
}
.story21 img{
    height: 100%;
    width: 600px;
    margin-left: 150px;
    border-radius: 10px ;
}
.story22{
    float: left;
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;

}
.story22 h1{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 70px;
}
.story22 p{
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
}
@media(max-width:667px){
    .story21 img{
        margin-left: 10px;
    }
    .story22{
        width: 100%;
        
    }
}
.deal{
    height: 600px;
    width: 100%;
    float: left;
    margin-top: -800px;
}
.deal1{
    height:100px;
    width: 100%;
    float: left;
    text-align: center;
}
.deal1 h1{
    font-size: 50px;
    font-weight: lighter;
    margin-top: 20px;

}
.deal2{
    height:350px;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 50px;
}
.deal2 img{
    height: 350px;
    width: 400px;
    margin-left: 25px;
    border-radius: 3px;

}
.deal31{
    height: 350px;
    width: 400px;
    margin-left: 45px;
    float: left;
    text-align: center;
}
.deal31 button{
    height: 50px;
    width: 130px;
    font-size: 30px;
    border: none;
    margin-top: -20px;
}
.deal31 h2:hover{
    background-color: rgb(56, 55, 55);
}
.deal31 h1{
    margin-top: 20px;
    font-size: 30px;

}
.deal31 p{
    font-size: 20px;
    margin-top: 15px;
}
.deal31 h2{
    font-size: 18px;
    height: 30px;
    width: 150px;
    background-color: rgb(17, 17, 17);
    padding-top: 10px;
    color: white;
    margin-left: 120px;
    border-radius: 3px;
    margin-top: 20px;
    font-weight: lighter;
    
}
@media(max-width:667px){
    .deal{
        margin-top:-600px;
        height: 1200px;
    }
    .deal3{
        display: none;
    }
}
.shopper{
    height: 750px;
    width: 100%;
    float: left;
    background-image: url(https://assets.website-files.com/62e39df3c002142d2c83c429/62e3b3ad56643c25500ba225_Image%207-min.jpg);
    background-size: 100%;
    margin-top: 200px;

}
.shoppers{
    height: 100%;
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.212) ;
}
.shop1{
    height: 200px;
    width: 100%;
    float: left;
    text-align: center;
}
.shop1 h1{
    font-size: 50px;
    font-weight: lighter;
    margin-top: 70px;
    }
    .shop1 p{
    font-size: 55px;
    font-family: 'Brush Script MT', cursive;
    color: rgb(37, 37, 37);
        
    }
.shop2{
    height: 500px;
    width: 100%;
    float: left;
    text-align: center;
}
.shop21{
    height: 450px;
    width: 25%;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    float: left;
    margin-left: 100px;
    box-shadow: 0px 0px 5px 0px rgb(75, 72, 72);
    margin-top: 40px;
    
}
.shop21 p{
    font-size: 20px;
   padding-top: 60px;
}
.shop21 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 80px;

}
.shop21 h1{
    font-size: 25px;
    margin-top: 10px;
}
.shop21 h2{
    font-weight:lighter ;
    font-size: 15px;
    margin-top: 10px;
}
@media(max-width:667px){
    .shopper{
        height: 1600px;
    }
    .shop1 h1{
        color: white;
    }
    .shop1 p{
        color: white;
    }
    .shop21{
        width: 500px;
        height: 400px;
        margin-left: 20px;
    }
    .shop21 p br{
        display: none;
    }
    .shop21 p{
        width: 90%;
        margin-left: 5%;
    }
    .shop21 img{
        margin-top: 10px;
    }
}
.text{
    height: 200px;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 50px;
}
.text h1{
    font-size: 50px;
    font-weight: lighter;
    margin-top: 50px;
}
.text p{
    font-size: 55px;
    font-weight: lighter;
    font-family: 'Brush Script MT', cursive;


}
.design{
    height: 800px;
    width: 100%;
    float: left;
}
.design1{
    height: 500px;
    width: 100%;
    float: left;
}
.de1{
    height: 100%;
    width: 60%;
    float: left;
    margin-left: 60px;
    text-align: center;
}
.de1 img{
    height: 100%;
    width: 98%;
    border-radius: 3px;
}
.de2{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 10px;
    text-align: center;
}
.de2 img{
    height: 100%;
    width: 98%;
    border-radius: 3px;
}
.design2{
    height: 400px;
    width: 100%;
    float: left;
}
.de3{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 30px;
    text-align: center;
    

}
.de3 img{
    height: 100%;
    width: 98%;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 45px;

}
.de4{
    height: 100%;
    width: 60%;
    float: left;
    margin-left: 100px;
    text-align: center;
}
.de4 img{
    height: 100%;
    width: 98%;
    border-radius: 3px;
    margin-left: 40px;
}

@media(max-width:667px){
    .de1 img{
        height: 200px;
        width: 300px;
        margin-top: none;
        margin-left: -50px;
        float: left;
    }
    .de2 img{
        height: 200px;
        width: 200px;
        margin-top: -500px;
        padding-top:-1000px ;
        float: left;
        margin-left: 310px;
    }
    .de3 img{
        height: 200px;
        width: 200px;
        margin-top: -270px;
        padding-top:-1000px ;
        float: left;
        margin-left: -20px;
    }
    .de4 img{
        height: 200px;
        width: 300px;
        margin-top: -300px;
        float: left;
        margin-left: 5px;
    }
}
.discount{
    height: 500px;
    width: 100%;
    float: left;
    margin-top: 200px;
}
.discount1{
    height: 100%;
    width: 100%;
    float: left ;
    margin-left: 50px;
}
.dis1{
    height:100%;
    width: 40%;
    float: left;
    
}
.dis1 h1{
    font-size: 48px;
    font-weight: lighter;
    margin-top: 110px;
    margin-left: 90px;

}
.dis1 p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 90px;

}
.dis1 button{
    height: 40px;
    width: 120px;
    font-size: 17px;
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-left: 90px;
}
.dis2{
    height:100%;
    width: 60%;
    float: left;  
    margin-left: -20px;  
}
.dis2 img{
    height: 200px;
    width: 250px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
@media(max-width:667px){
    .discount{
        margin-top: -300px;
    }
.dis1 h1{
    margin-left: 10px;
}
.dis1 p{
    margin-left: 10px;
}
.dis1 button{
    margin-left: 10px;
}
.dis2{
    height: 500px;
    margin-top: 70px;
}
.dis2 img{
    height: 100px;
    width: 100px;

}
}
.footer{
    height: 100px;
    width: 100%;
    float: left;
    margin-top: 50px;
}
.footer1{
    height: 80px;
    width: 80%;
    float: left;
    margin-left: 10%;
}
.foo1{
    height: 100%;
    width: 10%;
    float: left;
}
.foo1 img{
    margin-left: 20px;
    margin-top: 25px ;
}
.foo2{
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 200px;
}
.foo2 ul{
    height: 60px;
    width: 100%;
    float: left ;
}
.foo2 ul li{
    display: inline-block;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 20px;

}
.foo3{
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 200px;

}
.foo3 i{
    font-size: 20px;
    margin-top: 30px;
    padding-left: 20px;
}
.footer2{
    height: 50px;
    width: 100%;
    float: left;
    background-color: rgb(0, 0, 0);
}
.foot1{
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 10%;
}
.foot1 p{
    font-size: 16px;
    float: left;
    padding-left: 20px;
    color: white;
    margin-top: 15px;
    font-weight: lighter;

}
.foot2{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 32%;
}
.foot2  p{
    font-size: 16px;
    float: left;
    padding-left: 20px;
    color: white;
    margin-top: 15px;
    font-weight: lighter;
}
@media(max-width:667px){
    .footer1{
        height: 150px;
    }
    .foo1{
        width: 100px;
       margin-left: 200px;
       float: left;
    }
    .foo2{
        width: 100%;
        float: left;
    }
    .foo2 ul{
margin-left: -200px;
margin-top: -130px;
    }
    .foo2 ul li{
        margin-top: 50px;
    }
    .foo3{
        margin-top: -220px;
        margin-left: 170px;
        width: 100%;
    }
    .foo3 i{
        display: inline-block;
    }
    .footer2{
        height: 100px;
    }
    .foot1{
        width: 100%;
        margin-left: 130px;
    }
    .foot2{
        margin-top: -60px;
        width: 100%;
        margin-left: 120px;
    }
}